{% extends "blog/base.html" %}

{% block content %}
<div class="about post">
    <div class="post-info">
        <h1>About me</h1>
    </div>
    <img src="../../static/images/me.jpg" alt="">
    <p>My name is Lavanya (my friends call me ‘Lava’ - not kidding). I am a full-time programmer and a wannabe (currently a dabbler) photographer.  Photography is my way to appreciate the mundane and not-so mundane parts of my life. It helps me look at everything around me in a different way. I love to keep myself updated with the latest news in technology and follow a plethora of tech blogs by developers.</p>
    <p>I have always been interested in stories, quotes, anecdotes which is why reading has been one of my favourite pastimes of all and I have kept a diary of quotes since I was a little kid. Reading can take you to an entirely different world without you even needing to move.</p>
    <p>My friends say that I have a really good (and almost creepy) memory. I intend this blog to be a collection of memories I make along in my travel journey around the world so that someday I can look back at all the cool (and sometimes crazy) things I did. I promised myself a couple of years ago to remember each year of my life by visiting a new place and I fully intend to keep that promise to myself.</p>
    <p>As for my background, you ask? I originally hail from a metropolitan city in India named Mumbai (Bombay) but am now living in Toronto, Canada. The travel bug bit me after I turned 20 and moved to Canada when I was 21. I have lived in/visited several different in this beautiful country.</p>
    <p>Photo credit: My hilarious entrepreneur friend, <a href="https://www.thatvibedoe.com">Wilson Le</a></p>
</div>
{% endblock content %}
