{% extends 'blog/base.html' %}

{% block content %}

<div class="post-list">
    {% for obj in object_list %}
    <div class="post">
        {% if obj.image %}
        <a href="{% url 'post_detail' pk=obj.pk %}"><img src='{{ obj.image.url }}' /></a>
        {% endif %}
        <h2 class="post-title"><a href="{% url 'post_detail' pk=obj.pk %}">{{ obj.title }}</a></h1>
        <p class="post-excerpt">{{ obj.text|linebreaks|truncatewords:30 }}</p>
        <p class="post-date">{{ obj.published_date }}</p>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page={{ object_list.previous_page_number }}" class="previous"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
            {% else %}
                <i class="fa fa-long-arrow-left inactive" aria-hidden="true"></i>
            {% endif %}

            <!-- <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span> -->

            {% for i in object_list.paginator.page_range %}
              {% if object_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}" class="next"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                <a href=""></a>
            {% else %}
                <i class="fa fa-long-arrow-right inactive" aria-hidden="true"></i>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
