* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

header, footer {
    background-color: $background;
    padding: 10px;
}

body {
    margin: 0;
    width: 100%;
}

main {
    max-width: 640px;
    margin: 75px auto;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

img {
    max-width: 100%;
}

button, input {
    border-radius: 3px;
    font-size: 16px;
    padding: 15px 10px;
}

button {
    background-color: $button-bg;
    border: 1px solid $button-bg;
    color: $text-light;
    width: auto;
}

button:hover {
    background-color: $button-hover-bg;
    color: $text-dark;
}

button:focus, button:active, input:focus {
    outline: none;
}

input {
    border-style: groove;
}
