* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    background-color: $background;
}

body {
    background-color: $main-background;
    margin: 0 auto;
    padding: 40px;
    max-width: 960px;
    width: 100%;
}

header, main, footer {
    display: inline-block;
}

main {
    margin: 40px 0 0;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

div {
    display: block;
}

img {
    width: 100%;
}

button, input, textarea {
    border: 1px solid $border;
    border-radius: 3px;
    font-size: 16px;
    padding: 15px 10px;
}

button {
    background-color: $button-bg;
    border: 1px solid $button-bg;
    color: $text-light;
    transition: all 0.4s ease-in-out;
    width: auto;
}

button:hover {
    background-color: $button-hover-bg;
    color: $text-dark;
}

button:focus, button:active, input:focus {
    // outline: none;
}
