h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    color: $text-dark;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {
    font-family: 'Noto Serif', serif;
    line-height: 1.75;
}

i {
    cursor: pointer;
}

button, .sub-menu, .pagination li, .social-share {
    font-family: 'Montserrat', sans-serif;
}
